.container {
  display: flex;
  flex-wrap: wrap;
}
@media all and (min-width: 700px) {
  .items {
    height: 10%;
    width: 20%;
    border: 1px solid black;
    padding: 2% 2%;
  }
}

@media all and (max-width: 699px) {
  .items {
    height: 10%;
    width: 45%;
    border: 1px solid red;
    padding: 2% 2%;
  }
}

@media all and (max-width: 500px) {
  .items {
    height: 10%;
    width: 90%;
    border: 1px solid blue;
    padding: 2% 2%;
  }
}
